*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: hsl(120, 100%, 97%);
  padding: 50px 15px 15px;
}

.slider-overlay {
  position: relative;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
}

.slider {
  --slider-translate: 0px;

  display: flex;
  transform: translateX(var(--slider-translate));
  transition: transform 1s ease;
}

.slide {
  width: 250px;
}

.slide > img {
  cursor: pointer;
  width: 250px;
}

.previous-slide,
.next-slide {
  position: absolute;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  color: hsl(0 0% 90%);
  background: hsl(0 0% 40% / 80%);
  padding: 0;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

:is(.previous-slide, .next-slide):hover {
  background: hsl(0 0% 40%);
}

.previous-slide {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.next-slide {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.previous-slide::after,
.next-slide::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-top: 2px solid hsl(0 0% 90%);
  border-left: 2px solid hsl(0 0% 90%);
}

.previous-slide::after {
  left: calc(50% - 3px);
  transform: rotate(-45deg);
}

.next-slide::after {
  right: calc(50% - 3px);
  transform: rotate(135deg);
}

@media (max-width: 1100px) {
  .slider-overlay {
    position: relative;
    width: 100%;
    max-width: 750px;
    overflow: hidden;
  }
}

@media (max-width: 800px) {
  .slider-overlay {
    position: relative;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .slider-overlay {
    position: relative;
    width: 100%;
    max-width: 250px;
    overflow: hidden;
  }
}
